<div style="margin-left:50px;margin-top:50px">

<h3>ng-zorro-antd tag 组件实现编辑状态、连续新增</h3>
<h4>输入完毕回车则追加数据，空数据回车则取消连续新增状态</h4>
<app-test-card></app-test-card>
<!-- <app-list></app-list> -->
<!-- <app-tag></app-tag> -->
<!-- <app-tag-edit></app-tag-edit> -->
<!-- <app-cc-nz-tag [tags]="packages" (addNew)="addNewTag($event)" 
    (delete)="deleteTag($event)" (update)="updateTag($event)"></app-cc-nz-tag> -->

<!-- <app-table></app-table>    -->

<!-- <app-table-test></app-table-test> -->
<!-- <app-table-test01></app-table-test01> -->

<!-- <app-table-edit></app-table-edit> -->

<!-- <app-t-cctable></app-t-cctable> -->

</div>